p {
      color: blue;
    }
    
    body {
      background-color: rgb(156, 217, 245);
    }
    
    h1 {
      font-size: 2em;
    }

    div {
      padding: 20px;
      margin: 10px;
    }

    table {
      width: 100%;
      border-collapse: separate;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #f2f2f2;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #faf605;
      color: black;
      font-weight: bold;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #8b8d03;
      color: white;
    }