body {
  background-color: #537d90;
  background-image: linear-gradient(#537d90, #379ece);
  margin: 0px;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-bottom: white 4px solid;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

ul li a.active {
  background-color: white;
  color: black;
}

ul li a:hover {
  background-color: purple;
}

@media screen and (max-width: 480px) {
  ul li a {
    text-align: center;
    float: none;
  }
}

.Text_box {
  background-color: white;
  max-width: 65%;
  border: 6px solid rgb(189, 188, 188);
  border-radius: 25px;
  padding: 50px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgb(37, 37, 37);
  height: auto;
  overflow: auto;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  filter: drop-shadow(8px 8px 10px gray);
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ecf803;
}

tr:nth-child(odd) {
  background-color: #cccc03;
}

tr:hover {
  background-color: #616001;
  color: white;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #590264;
  color: white;
}

.footer {
  position: relative;
  background-color: purple;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 12vh;
  border-top: white 4px solid;
}

.pages {
  font-size: large;
}

#seuraava {
  background-color: white;
  color: black;
  float: right;
}

#edellinen {
  background-color: white;
  color: black;
  float: left;
}

#seuraava:hover {
  background-color: purple;
  padding: 6px;
  border-radius: 5px;
  color: white;
}

#edellinen:hover {
  background-color: purple;
  padding: 6px;
  border-radius: 5px;
  color: white;
}

img {
  transition: transform 0.5s ease;
  cursor: pointer;
  border-radius: 8px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}

img:hover {
  transform: scale(1.2);
}

.vasen {
  width: 50%;
  float: left;
  margin: 0px 15px 15px 0px;
}

.vasen2 {
  width: 31%;
  float: left;
  margin: 0px 15px 15px 0px;
}

.oikea {
  width: 50%;
  float: right;
  margin: 0px 0px 15px 15px;
}

.oikea2 {
  width: 30%;
  float: right;
  margin: 0px 0px 15px 15px;
}

@media screen and (max-width: 768px) {
  .vasen {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .vasen {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .vasen2 {
    width: 31%;
  }
}

@media screen and (max-width: 480px) {
  .vasen2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .oikea {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .oikea {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .oikea2 {
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  .oikea2 {
    width: 100%;
  }
}
